<h1>Listing Databases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Database</th>
      <th>Adapter</th>
      <th>Host</th>
      <th>Port</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @databases.each do |database| %>
      <tr>
        <td><%= database.name %></td>
        <td><%= database.database %></td>
        <td><%= database.adapter %></td>
        <td><%= database.host %></td>
        <td><%= database.port %></td>
        <td><%= database.username %></td>
        <td><%= link_to 'Show', [:admin, database] %></td>
        <td><%= link_to 'Edit', edit_admin_database_path(database) %></td>
        <td><%= link_to 'Destroy', [:admin, database], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Database', new_admin_database_path %>
