<fieldset class="nested-fields">
  <div class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <%= f.label :required, class: "sr-only" %>
          <%= f.check_box :required, class: "checkbox" %>
        </span>
        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :field_type_id, class: "sr-only" %>
      <%= f.collection_select(:field_type_id, FieldType.all, :id, :name, {},
                                                          class: "form-control", placeholder: "Type") %>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">??</span>
        <%= f.label :placeholder, class: "sr-only" %>
        <%= f.text_field :placeholder, class: "form-control", placeholder: "Placeholder" %>
        <span class="input-group-addon">??</span>
      </div>
    </div>
    <%= link_to_remove_association "Delete", f, class: "btn btn-danger btn-flat" %>
  </div>
  <br>
</fieldset>