<%= form_for [:admin, @report_type] do |f| %>
  <div class="col-md-4">
    <div class="box">
      <div class="box-body">
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :category_id %><br>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :database_id %><br>
          <%= f.collection_select(:database_id, Database.all, :id, :name, {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit class: "form-control btn btn-success" %>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>

  <% if @report_type.errors.any? %>
    <div class="col-md-8">
      <div class="box box-solid box-danger">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @report_type.errors.count > 1 ? "Errors" : "Error" %> to save report type </h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <ul>
            <% @report_type.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  <% end %>

  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Fields</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <%= f.fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
        <div>
          <%= link_to_add_association "Add Field", f, :fields, class: "btn btn-success"  %>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>

  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Base SQL</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="form-group">
          <%= f.label :sql %><br>
          <%= f.text_area :sql, class: "form-control", rows: (@report_type.sql || "").lines.count+5 %>
        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
<% end %>
