<h1>Listing Report Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Database</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_types.each do |report_type| %>
      <tr>
        <td><%= report_type.name %></td>
        <td><%= report_type.category.name %></td>
        <td><%= report_type.database.name %></td>
        <td><%= report_type.description %></td>
        <td><%= link_to 'Show', [:admin, report_type] %></td>
        <td><%= link_to 'Edit', edit_admin_report_type_path(report_type) %></td>
        <td><%= link_to 'Destroy', [:admin, report_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report Type', new_admin_report_type_path %>
