<% content_for :header do %>
  <section class="content-header">
    <h1>
      Generate Report
      <small>Choose a Type</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><%= link_to "New Report", select_reports_path %></li>
      <li class="active">Select Type</li>
    </ol>
  </section>
<% end %>

<% if @report_types.blank? %>
  <div class="col-xs-12">
    <div class="alert alert-success">
      <b>No Report Types Available</b>
    </div>
  </div>
<% end %>

<% @report_types.map { |e| e.category }.uniq.each do |category| %>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"><%= category.name %></h3>
        <div class="box-tools pull-right">
          <!-- Buttons, labels, and many other things can be placed here! -->
          <!-- Here is a label for example -->
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-hover">
          <% @report_types.select { |e| e.category == category }.each do |report_type| %>
            <tr>
              <th><%= report_type.name %></th>
              <td><%= report_type.description %></td>
              <td>
                <%= link_to new_report_path(report_type_id: report_type.id), class: "pull-right" do %>
                <button class="btn btn-success">Generate</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
<% end %>
