<h1>Listing Report Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Database</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_types.each do |report_type| %>
      <tr>
        <td><%= report_type.name %></td>
        <td><%= report_type.category.name %></td>
        <td><%= report_type.database.name %></td>
        <td><%= report_type.description %></td>
        <td><%= link_to 'Generate', new_report_path(report_type_id: report_type.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
